h3 {
  color: rgba(20, 25, 29, 0.733);
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
}
.style {
  width: 250px;
  border: 5px solid rgba(31, 53, 31, 0.5);
  border-radius: 30px;
  padding: 35px;
  margin: 10px;
}
